<footer class="level">
    <div class="level-left">
        <div class="level-item">
            <p>Peter Wilmshurst &copy; All Rights Reserved</p>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">

            <div class="social">
                <ul>
                    <li><a href="./docs/peter-wilmshurst.pdf" target="_blank"><i class="fas fa-file-download"></i></a></li>
                    <li><a href="mailto:peterwilmshurst@hotmail.com" target="_blank"><i class="far fa-envelope"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/peterwilmshurst/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://github.com/peterwilmshurst" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/peterwilmshurst_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/petewilmshurst" target="_blank"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
