<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W4D9JLX" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="logo">
        <a href="./">
            <img src="./img/logo.svg">
        </a>
    </div>

    <div class="fat-nav">
        <div class="social-overlay">
            <ul>
                <li><a href="./docs/peter-wilmshurst.pdf" target="_blank"><i class="fas fa-file-download"></i></a></li>
                <li><a href="mailto:peterwilmshurst@hotmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/peterwilmshurst/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/peterwilmshurst" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/peterwilmshurst_/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/petewilmshurst" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>

        <div class="fat-nav__wrapper">
            <ul>
                <li>
                    <a href="./index.html">Latest Articles</a>
                </li>
                <li>
                    <a href="./about-peter.html">Who is this Peter fella?</a>
                </li>
            </ul>
        </div>
    </div>

</header>
