// add your custom styles here
body {
    background-color: $brand-black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $white;
}

.left {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(2);
    }

    nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                display: block;
                text-transform: uppercase;

                a {
                    color: $white;
                    background-color: $brand-grey;
                    padding: 1rem;
                    line-height: 6rem;
                    font-weight: bold;
                    font-size: 2.25rem;

                    &:hover {
                        background-color: $brand-green;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.content {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(8);
    }

    ul {
        &.skills {
            padding: 0;
            margin: 0;
            @include make-row();

            li {
                list-style: none;
                align-items: center;
                text-align: center;
                font-size: 5rem;
                color: $brand-green;
                background-color: $brand-grey;
                border: 5px solid $brand-black;
                border-radius: 5px;
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(3);
                }

                .fab {
                    line-height: 12rem;
                }

                &:hover {
                    cursor: pointer;
                    color: $brand-black;
                    background-color: $brand-green;
                }

                img {
                    max-width: 100%;
                    vertical-align: middle;
                }
            }
        }

        &.instagram {
            padding: 0;
            margin: 0;
            @include make-row();

            li {
                display: flex;
                list-style: none;
                align-items: center;
                text-align: center;
                font-size: 5rem;
                color: $brand-green;
                background-color: $brand-grey;
                border: 5px solid $brand-black;
                border-radius: 5px;
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(4);
                }

                img {
                    max-width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}

.right {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(2);
    }

    .logo {
        width: 200px;
        height: auto;
        float: right;
        margin: 1rem;
    }

}