// add your custom styles here
body {
    background-color: $brand-black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $white;
}

.site {
    min-height: 100vh;
}

.left {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(2);
    }

    padding: 1rem;

    .logo {
        margin-bottom: 1rem;
    }

    nav {
        @include make-row();

        h1 {
            @include make-col-ready();

            @include media-breakpoint-down(sm) {
                @include make-col(4);
            }
        }

        ul {
            @include make-col-ready();

            @include media-breakpoint-down(sm) {
                @include make-col(8);
            }

            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                text-transform: uppercase;
                margin: 0.5rem;

                a {
                    color: $white;
                    background-color: $brand-grey;
                    padding: 1rem;
                    font-weight: bold;
                    font-size: 2vw;
                    display: inline-block;

                    &:hover {
                        background-color: $brand-green;
                        color: $white;
                        text-decoration: none;
                    }

                    &.active {
                        background-color: $brand-green;
                    }
                }

                @include media-breakpoint-up(md) {
                    display: list-item;
                    list-style: none;
                    margin-right: 0;
                    margin-bottom: 2rem;

                }
            }
        }
    }
}

.content {
    min-height: 100vh;

    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(8);
    }

    ul {
        &.skills {
            padding: 0;
            margin: 0;
            @include make-row();

            li {
                list-style: none;
                align-items: center;
                text-align: center;
                font-size: 6rem;
                color: $brand-green;
                background-color: $brand-grey;
                border: 5px solid $brand-black;
                border-radius: 5px;
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(4);
                }

                .fab {
                    line-height: 240px;
                }

                &:hover {
                    cursor: pointer;
                    color: $brand-black;
                    background-color: $brand-green;
                }

                img {
                    max-width: 100%;
                    vertical-align: middle;
                }

                a {
                    color: inherit;

                    &:hover {
                        color: inherit;
                    }
                }
            }
        }

        &.instagram {
            padding: 0;
            margin: 0;
            @include make-row();

            li {
                display: flex;
                list-style: none;
                align-items: center;
                text-align: center;
                font-size: 5rem;
                color: $brand-green;
                background-color: $brand-grey;
                border: 5px solid $brand-black;
                border-radius: 5px;
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(4);
                }

                img {
                    max-width: 100%;
                    vertical-align: middle;
                }
            }
        }

        // Portfolio Page 
        &.work {
            padding: 0;
            margin: 0;
            @include make-row();

            li {
                list-style: none;
                align-items: center;
                text-align: center;
                display: flex;
                border: 5px solid #2A263D;
                background-color: $brand-grey;
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(4);
                }

                &.wide {
                    @include media-breakpoint-up(sm) {
                        @include make-col(8);
                    }

                }

                .logo {
                    padding: 2rem;

                    img {
                        max-width: 100%;
                        width: 100vw;
                        height: auto;
                    }
                }

                &.white-bg {
                    background-color: $white;
                }

                &.black-bg {
                    background-color: #12100B;
                }
            }
        }
    }

    &.text {
        padding: 1rem;
        background-color: $brand-grey;
    }

    &.full {
        @include media-breakpoint-up(md) {
            @include make-col(10);
        }
    }
}

.right {
    display: none;
    visibility: hidden;

    @include media-breakpoint-up(md) {
        display: block;
        visibility: visible;

    }

    position: relative;

    .fixed {
        position: fixed !important;
        overflow: scroll;
        height: 100vh;

        @include make-col-ready();

        @include media-breakpoint-up(md) {
            @include make-col(2);
        }
    }
}

.date {
    text-transform: uppercase;
    color: $brand-green;
}

.blog-post {
    background-color: $brand-grey;
    padding: 1rem;
    border: 5px solid $brand-black;
    h2 {
        color: $brand-green;
        font-weight: bold;
        text-decoration: underline;    }
}