footer {
    padding: 0.75rem;
    
    @include desktop {
    padding: 1rem 2.75rem; }

    font-size: 1rem;

    a {
        text-decoration: none;
        color: inherit;
    }

    .social {
        ul {
            li {
                display: inline-block;
                text-align: right;
                padding: 0.625rem;
                font-size: 1rem;
            }
        }
    }
}
